<div class="col-md-3 col-sm-2 col-lg-2 sidebar">
  <h3>Search History</h3>
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><%= link_to 'Title Desc', search_term_path(sort: 'title desc')%></li>
      <li><%= link_to 'Title Asc', search_term_path(sort: 'title asc')%></li>
      <li><%= link_to 'Oldest', search_term_path(sort: 'oldest')%></li>
      <li><%= link_to 'Count Desc', search_term_path(sort: 'count desc')%></li>
      <li><%= link_to 'Count Asc', search_term_path(sort: 'count asc')%></li>
      </ul>
    </div>

    <br>
    <% if current_page?('/search_term') %>
      <% @sorted_searches.each do |query, value| %>
        <%= link_to "#{query} (#{value})", "/search?&search=#{query[1]}" %> <br>
      <% end %>
    <% else %>
      <% @past_searches.each do |query, value| %>
        <%= link_to "#{query} (#{value})", "/search?&search=#{query}" %> <br>
      <% end %>
    <% end %>
  </div>
</div>

