<!DOCTYPE html>
<html>
  <head>
    <title>MovieSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="col-md-10">
    <%= render 'layouts/search' %>
    <%= yield %>
  </div>
  <div class="col-md-2 sidebar">
    <h3>Past Searches</h3>
    <div>
      <br>
      <%= render 'layouts/search_term' %>
    </div>
  </div>
  </body>
</html>
